.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 115%;
    position: relative;
    height: 50px;   
}

.nav-link {
    color: #a0937d;
    text-decoration: none;
    padding: 6px 6px;
    font-size: 1.1em;
    cursor: pointer;
    background: linear-gradient(to bottom, #4a3c28, #3c3020); 
    border: 1px solid #57441b;
    border-top-color: #6a5a3a; 
    border-radius: 5px;
    text-shadow: 1px 1px 2px #000; 
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); 
    transition: all 0.2s ease-out;
}

.nav-links-center {
    position: absolute;
    left: 43.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-link:not(.disabled):hover {
    color: #f0e6d2;
    background: linear-gradient(to bottom, #c89b3c, #8c6b2c); 
    border-color: #f0e6d2;
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.5), 0 0 5px rgba(200, 155, 60, 0.5); 
}
.nav-link.active {
    color: #ffffff; 
    background: linear-gradient(to top, #c89b3c, #8c6b2c); 
    border-color: #f0e6d2;
    transform: translateY(1px); 
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.6); 
    text-shadow: 1px 1px 1px #000;
}

.nav-link.disabled {
    color: #5c4b28;
    cursor: not-allowed;
}

.nav-auth-links {
    position: absolute;
     right: 15%;
     top: 50%;
     transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link-auth {
    color: #a0937d;
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid #4a3c28;
    border-radius: 4px;
    font-size: 0.9em;
    transition: all 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
}

.nav-link-auth.register-btn {
    background-color: #8c6b2c;
    color: #f0e6d2;
}
.nav-link-auth.register-btn:hover {
    background-color: #c89b3c;
}

#user-email-display {
    font-size: 0.9em;
    color: #f0e6d2;
}

@media (max-width: 768px) {
    .main-nav {
        position: static;
        height: auto;    
        flex-direction: column;
        align-items: center;
        gap: 20px; 
        width: 100%; 
    }

    .nav-links-center, 
    .nav-auth-links {
        position: static; 
        transform: none;    
        width: 100%;
    }

    .nav-links-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
    }
    
    .nav-link {
        width: 95%;
        box-sizing: border-box;
        text-align: center;
    }

    .nav-auth-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}